$border-radius: 20px;
$font-family: Open Sans; 

$reg: 400;
$bold: 700;

//Colour
$background: #FFF0A2;
$primary-color: #707070;
$text-color: black;
$secondary-color: white;
$Donate-food-button: #82c3c7;
$Edit-button:#95c4f0;
$Delete-button: rgb(236, 95, 95);